repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
-   repo: local
    hooks:
    -   id: eslint
        name: eslint
        entry: web_ui/node_modules/.bin/eslint
        language: node
        files: ^web_ui\/.*\.jsx?$
        args: [
          '--quiet'
        ]
    -   id: prettier
        name: prettier
        entry: web_ui/node_modules/.bin/prettier
        language: node
        files: ^web_ui\/.*\.(jsx?|html|json)$
        args: [
          '--check'
        ]
